// Screens > 640px
@media #{$medium} {
	.top-content {
		text-align: left;

		p {
			padding: 3rem 0 0;
		}
	}

	.tabs {
		.tab-title {
			a {
				padding: 1rem 0;
				font-size: rem-calc(15);
			}
		}
	}

	.product {
		margin: 0;
	}
}
