.categ-group {
	padding-top: 5em;
}

.product {
	margin: 0 0 5rem;

	&:last-child {
	  @extend .end;
	}

	p {
		color: $charcoal;
	}

	.button-group {
		li {
			border-left: 1px solid $white;
			width: 33%;

			&.button.secondary {
				color: $success-color;

				&:not(:first-child) {
					color: $alert-color;
				}
			}
		}
	}
}
