<div class='row categ-group'> 
    <div class='medium-6 large-4 columns product'
        product="product" 
        ng-class="{active: isSelectedBookmark(bookmark.id)}" 
        ng-repeat="product in products | filter:{category:getCurrentCategoryName()} ">
        
        <img src='{{product.src}}' /> 
        <h4>
            {{product.name}} 
        </h4> 
        <p>
            {{product.ingredients}} 
        </p> 
        <ul class='button-group round even-3'> 
            <li class='small button secondary has-tip' data-tooltip title='pizza individual -standard 32cm (pret/buc.)'>{{product.price1}} lei
            </li> 
            <li class='small button secondary has-tip' data-tooltip title='1+1 gratis -pizza medie 30cm. (la acest pret primesti 2 pizza)'>
                {{product.price2}} lei
            </li> 
            <li class='small button secondary has-tip' data-tooltip title='1+1 gratis -pizza grande 40cm. (la acest pret primesti 2 pizza grande)'>
                {{product.price3}} lei
            </li> 
        </ul> 
    </div> 
</div> 
