// This is mobile-first approach, so these styles are avaiable for all devices
body {
	overflow: hidden;

	.wrapper {

		@import "section-header";

		@import "section-content";

		@import "section-footer";

		ul {
			li {
				list-style: none;
			}
		}		

		> * {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.hidden {
			display: none !important;
		}

	}	
}



@media screen and (max-width: 767px) {
  header {
    #logo {
      padding: 1em 0;
      margin: 0 auto;
      max-width: 300px;
    }
    .top-content {
      padding: 0;
      font-size: 1.25em;
      text-align: center;
    }
  }
  .columns.product {
    margin-bottom: 2em;
  }
}


@media screen and (min-width: 768px) {
  header {
    #logo {
      padding: 1em 0;
      margin: 0 auto;
    }
    .top-content {
      text-align: right;
      font-size: 1.5em;
      padding: 2em 1em 0 0;
    }
  }
  .columns.product {
    min-height: 28em;
  }
}

header .top-content {
  color: #ccc;
  font-style: italic;
  font-weight: normal;
}

.bordered {
  border: 1px solid #fff;
  background: #eee;
}

.fixedHeader {
  position: fixed;
  background: #fff;
  z-index: 10;
}

.mainContent {
  top: 150px;
  position: relative;
  z-index: 9;
}

.categ-group {
  padding-top: 5em;
  p {
    color: #555;
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.5 !important;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  color: #555;
}

h4, .red {
  color: #c00;
}

.green {
  color: #080;
}

.bold {
  font-weight: bold !important;
}

.has-tip {
  cursor: default;
}

.columns {
  transition: all .5s linear;
}

.categ-group > .columns:last-child {
  float: left;
}

.product [src$="d.jpg"] {
  margin: 1em 0  2em;
}

#scrollup {
  display: none;
  position: fixed;
  bottom: 3em;
  right: 2em;
  width: 5em;
  height: 3em;
  z-index: 100;
  background: url(../img/scrollup.png) no-repeat;
  border-radius: .25em;
  text-indent: -100100em;
}

.button-group li.button.secondary {
  color: #080;
  &:not(:first-child) {
    color: #c00;
  }
}

hr.hidden {
  border: solid #fff;
}

.not-showing {
  display: none !important;
}

/* overrides, some */
.section-container.tabs > {
  section > .content, .section > .content {
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
  }
  section > .title a, .section > .title a {
    padding: .75em 1.5em;
  }
}