// This is mobile-first approach, so these styles are avaiable for all devices
body {
	overflow: hidden;

	.wrapper {

		@import "section-header";

		@import "section-content";

		@import "section-footer";

		ul {
			li {
				list-style: none;
			}
		}		

		> * {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.hidden {
			display: none !important;
		}

	}	
}
