#content {
	::-webkit-scrollbar {
		width: rem-calc(8);
		height: rem-calc(8);
		padding: 1px;
	}

	::-webkit-scrollbar-thumb {
		width: rem-calc(8);
		height: rem-calc(30);
		background-color: $monsoon;
		border-radius: $global-radius;
	}

	::-webkit-scrollbar-corner {
		background-color: $base;
	}


	.categ-group {
		padding-top: 5em;
		
		p {
			color: #555;
		}
	}

	#scrollup {
		bottom: 3em;
		right: 2em;
		width: 5em;
		height: 3em;
		z-index: 100;
		border-radius: .25em;
		text-indent: -100100em;
	}

	.button-group li.button.secondary {
		color: $success-color;

		&:not(:first-child) {
			color: #c00;
		}
	}

}	