#content {
	.categ-group {
		padding-top: 5em;

		.product {
			p {
				color: $charcoal;
			}

			.button-group {
				li {
					border-left: 1px solid $white;

					&.button.secondary {
						color: $success-color;

						&:not(:first-child) {
							color: $alert-color;
						}
					}
				}
			}
		}
	}
}	