#content {
	::-webkit-scrollbar {
		width: rem-calc(8);
		height: rem-calc(8);
		padding: 1px;
	}

	::-webkit-scrollbar-thumb {
		width: rem-calc(8);
		height: rem-calc(30);
		background-color: $monsoon;
		border-radius: $global-radius;
	}

	::-webkit-scrollbar-corner {
		background-color: $base;
	}

	@import "section-content-content";	
}	