<!-- FOOTEr SECTION -->
<div class='row'>
    <div class='large-12 columns'>
        <br/>
        <hr/>
        <br/>

        <p>
            <span class='red'>
                Pizzeria Lucapiero - 0259.414.777 - pizza , paste , salate
            </span> - livrare gratuita la orice adresa din Oradea. In localitatile limitrofe se
            percepe taxa de transport. Produsele sunt disponibile in limita stocului.

        </p>
        <p>
            Topingurile ce nu sunt in stoc vor
            fi comunicate in momentul comenzi telefonice. Timpul de livrare comunicat de catre operatoarea call center
            este estimativ si este influentat de conditiile meteorologice, traficul rutier si de alte probleme tehnice
            si umane ce nu tin de Lucapiero.
        </p>
        <p>
            Fotografiile sunt realizate in pizzeria noastra, la produsele noastre. Acestea nu constituie o oferta
            in interpretarea Codului de Procedura Civila. Aspectul real al produselor poate sa difere de cel al
            produselor prezentate in fotografii.
        </p>

        <p class='red'>
            Ai nemultumiri sau propuneri pentru a imbunatati serviciile noastre? <br/>
            Trimite un SMS la numarul 0755.414.777 sau scrie pe <a class="red" href="mailto:pizza@lucapiero.ro">pizza@lucapiero.ro</a> . ITI MULTUMIM!
        </p>
    </div>
    <div class='large-12 columns text-center'>
        <hr/>
        <p>
            <a href='#/contact' class='red'>
                &copy;&nbsp;Lucapiero
            </a>
            2013. Toate drepturile rezervate.
        </p>
    </div>
</div>
