<div class='row'>
    <div class='small-12 medium-6 columns'>
        <div class='row'>
            <div class='small-6 medium-9 large-7 small-centered columns'>
                <h1 class='hide-for-small hide-for-medium-up'>
                    pizzeria Lucapiero - Pizza service Oradea. Livrari la domiciliu 0259.414.777 . 1+1 gratis
                </h1>
                <a href='#/pizza'>
                    <img src='assets/images/lucapiero.jpg' id='logo' title='Lucapiero - pizza service Oradea' />
                </a>
            </div>
        </div>
    </div>
    <div class='small-12 medium-6 columns top-content'>
        <p>
            <span class='red'>
                Lucapiero - pizza service Oradea
            </span>
            <br />
            <span class='green'>
                Livrari la domiciliu
                <strong>
                    0259.414.777
                </strong>
            </span>
            <br />
            pizza buna, pret bun, ambalaj gratuit!
        </p>
    </div>
</div>
