<section class="content active" id="pizza-1-plus-1"><!-- pizza 1+1-->
    <div class='large-12 columns'>
        <h3>
            Pizza de post
        </h3>
    </div>
    <div class='small-12 large-12 columns'>
        <div class='row categ-group'>
            <% _.each(sc.data, function(products) { %>
            <% if (products.category === 'pizza') { %>
            <div class='medium-6 large-4 columns product'>
                <img src='assets/images/data/<%= products.url %>' />
                <h4>
                    <%= products.name %>
                </h4>
                <p>
                    <%= products.ingredients %>
                </p>
                <ul class='button-group round even-3'>
                    <li class='small button secondary has-tip' data-tooltip title='pizza individual -standard 32cm (pret/buc.)'><%= products.price1 %> lei
                    </li>
                    <li class='small button secondary has-tip' data-tooltip title='1+1 gratis -pizza medie 30cm. (la acest pret primesti 2 pizza)'>
                        <%= products.price2 %> lei
                    </li>
                    <li class='small button secondary has-tip' data-tooltip title='1+1 gratis -pizza grande 40cm. (la acest pret primesti 2 pizza grande)'>
                        <%= products.price3 %> lei
                    </li>
                </ul>
            </div>
            <% }}); %>
        </div>
    </div>
</section> <!-- / pizza 1+1-->
